<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Flask Lotto</title>
    </head>
    <body>
      <div>  
      <h1>Lotto time!</h1>
      </div>
      <br>
      <div>
      	<h3>For loop?  While Loop?  Fuck, I have no idea.</h3>
      	<h3>The winner: {{ theWinner }}</h3>
      </div>
    </body>
</html>

<!-- 
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
-->